
{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col my-2"><h2 align="center">Авторизация</h2></div>
</div>

<div class="row" style="height: 50px;">
        {% if form.errors %}
        <div class="col my-auto" align="center">
            <div class="p-3 mb-2 bg-danger text-white col-12">
                Пароль и пользователь не совпадают, попробуйте снова.
            </div>
        </div>
        {% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <div class="col my-auto" align="center">
            <div class="p-3 mb-2 bg-danger text-white col-12">
                Вашему аккаунту запрещен доступ к данному ресурсу! Авторизируйтесь под другим аккаунтом.</div>
        </div>
                {% else %}
        <div class="col my-auto" align="center">
            <div class="p-3 mb-2 bg-danger text-white col-12">
                Авторизируйтесь, чтобы увидеть эту страницу.</div>
        </div>
        {% endif %}
        {% endif %}
<!--    <div class="col-2"></div>-->
</div>

<div class="row" style="height: 50%;">
    <div class="col-4"></div>

    <div class="col-4 my-auto">
        <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="m-1">
                    <div class="form-group">
                        <label for="inputEmail">Имя пользователя</label>
                        <input type="text" class="form-control form-control-lg" name="username"
                               id="inputEmail" placeholder="Username" required>
                     </div>
                </div>

                <div class="m-1">
                    <div class="form-group">
                        <label for="inputPass">Пароль</label>
                        <input type="password" class="form-control form-control-lg" name="password"
                               id="inputPass" placeholder="Password" required>
                     </div>
                </div>

                <div class="mt-4 mb-2" align="center">
                    <input type="submit" value="Войти" class="btn btn-primary" style="width: 60%; height: 40px">
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>

                <div class="row">
                <a href="{% url 'password_reset' %}" class="link-danger col-12 m-1">Lost password?</a>
                <a href="{% url 'login'%}" class="link-primary col-12 m-1">Click here to login again</a>
                </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>


{% endblock content %}