
{% extends "base.html" %}

{% block content %}

<div class="row" style="height: 50%;">
    <div class="col-4"></div>

    <div class="col-4 my-auto">
        <form action="" method="post">
                {% csrf_token %}
                <div class="m-1">
                    <div class="form-group">
                        <label for="inputEmail">Адрес электронной почты</label>
                        <input type="email" name="email" autocomplete="email"
                               class="form-control form-control-lg" placeholder="your@mail.ru"
                               id="inputEmail" required>
                     </div>
                </div>

                <div class="mt-4 mb-2" align="center">
                    <input type="submit" value="Сбросить пароль" class="btn btn-danger" style="width: 60%; height: 40px">
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>

        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}
