
{% extends "base.html" %}

{% block content %}
{% load static %}
{% load bootstrap4 %}

<div class="container">

  <div id="user-list" class="toppane" style="clear:both">
    </div>
    <div style="width:100%; height:0px; clear:both;"></div>

  <div class="leftpane">
     <div  id="songText" style="width:100%; margin: 16px; color: white;">
     </div>
  </div>
  <div class="middlepane">

      <div id="audio-image-section" style="margin-top:16px; margin-bottom:8px" >
          <center>
          <img id="audio-image" src="" style="width:300px;height:300px; box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.4);">
              </center>
      </div>

      <div style="margin: 0px auto; width: fit-content;">
          <p id="song-title" style="font-size: 32px; color:white;"></p>
     </div>


    <div style="margin: 0 auto; width: fit-content;">

    </div>


     <div id="audio-player-section" style="display: flex; justify-content: center; align-items: center; margin: 16px">
    {% for item in page_obj %}
    <audio controls id="customAudio" style="width:70%;">
        <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}"
                type="audio/mp3">
    </audio>
    {% endfor %}
     </div>

    <div style="margin: 0 auto; width: fit-content;">
      <button type="submit" class="btn btn-light" id="playButton" style="margin: 8px">
          Play
      </button>
        <button type="submit" class="btn btn-light" id="like-button" style="margin: 8px;">
          Like
           </button>
      <button type="submit" class="btn btn-light" id="pauseButton" style="margin: 8px">
          Pause
      </button>
    </div>

      <div style="margin: 16px">
      <div style="font-size: 48px; margin: 0 auto; width: fit-content;">
          <b id="connected" style="font-size: 48px;">
                0
          </b>
          <b>/</b>
          <b id="voted" style="font-size: 48px;">
                0
          </b>
      </div>
          </div>

      <div style="margin: 0 auto; width: fit-content;">
      <button type="submit" class="btn btn-primary" id="nextButton" style="margin: 8px; font-size: 32px;">
          next
      </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
  </div>


  <div class="rightpane">
        <div id="chat" class="scrollpane" style="width:100%">
            {% for item in chat_messages %}
                <div><b>{{ item.user.username}}</b> </div>
                <div>{{item.message}}</div>
            {% endfor %}
        </div>
      <div class="chataction" style="align-self: flex-end; width:90%">
            <input id="messageInput" type="text" style="width:100%;"><br>
            <input id="sendMsg" type="button" value="Send" style="width:100%;">
      </div>
  </div>

</div>
    <script src="{% static 'socket_chat.js' %}">
    </script>
    <script src="{% static 'socket_player.js' %}">
    </script>
{{ room_name|json_script:"room-name" }}
{% endblock content %}



